POSTGRES_USER=fitcoach
POSTGRES_PASSWORD=fitcoach
POSTGRES_DB=fitcoach
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MONGO_USER=fitcoach
MONGO_PASSWORD=fitcoach
MONGO_DB=fitcoach
MONGO_HOST=localhost
MONGO_PORT=27017

# Workaround for duplicate libomp loaded by OpenCV/MediaPipe + PyTorch on macOS.
# See https://github.com/pytorch/pytorch/issues/78490. Safe in practice on x86/arm64 macOS.
KMP_DUPLICATE_LIB_OK=TRUE

